<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">YouTube Login</h4>
        <p id="yt-status">Login with YouTube and choose from your available YouTube channels.</p>
    </div>
    <div class="box-body">
        <div class="sonata-ba-collapsed-fields">
            <div class="form-group">
                {% if isAuthenticated %}
                    <p>Your current YouTube channel selection is: <strong>{{ youTubeChannelName }}</strong></p>
                    <p><button class="btn btn-warning broadcast-youtube-switch">Switch to another YouTube channel/account</button></p>
                    <p><button class="btn btn-primary broadcast-youtube-attach">Attach this YouTube channel/account</button></p>
                {% else %}
                    <a href="{{ authUrl }}" id="yt-login"><i class="fa fa-youtube-play" style="color: #cd201f"></i>&nbsp;Login with YouTube</a>
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.broadcast-youtube-switch').on('click', function(e){
                e.preventDefault();
                window.location.href = '{{ path('admin_martin1982_livebroadcast_channel_basechannel_youtubeoauth', {'cleartoken': '1'}) }}';
            });

            $('.broadcast-youtube-attach').on('click', function(e){
                e.preventDefault();
                $('.input-yt-channelname').attr('value', '{{ youTubeChannelName }}');
                $('.input-yt-refreshtoken').attr('value', '{{ youTubeRefreshToken }}');
            });
        });
    </script>
</div>
